<script type="text/javascript">
  //<![CDATA[
  dd.place.ShowOption.place_id = <%= @place.id %>;
  dd.place.ShowOption.player_count = <%= @place.players.length %>;
  dd.place.ShowOption.start_url = "<%= start_place_path %>";
  dd.place.ShowOption.next_turn_url = "<%= next_turn_place_path %>";
  dd.place.ShowOption.info_url = "<%= info_place_path + ".json" %>";
  dd.place.ShowOption.players_card_url = "<%= players_card_place_path + ".json" %>";

  $(document).ready(function(){
    var show = new dd.place.Show();

    // websoket start
    dd.core.WebSocket.start(show);

    // set an action on the button
    $("#start").click(show.start);
    $("#reverse").click(show.reverse).attr('disabled', true);
  });
  //]]>
</script>

<p id="notice"><%= notice %></p>
<p>
  <b><%= @place.title %></b>
</p>
<form>
<fieldset>
<legend id="game_no">0</legend>
    <dl>
      <dt>
        <span>Place Info:</span>
        <span id="place_info"></span>
      </dt>
    </dl>
    <dl>
  <div class='place drop-shadow'>
    <ul id='place_cards'>
    </ul>
  </div>
</dl>
<dl>
  <div class='players'>
    <ul id='players'>
      <% @place.players.each do |player| %>
        <li>
          <div class="player drop-shadow lifted">
            <div class='player_name'>
              <span>
                <%= User.find(player.user_id).name %>
              </span>
            </div>
            <div class='player_place_cards'>
              <span>init</span>
            </div>
            <div class='player_cards'>
              <ul/>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</dl>
</fieldset>
</form>
<p>
<button type="submit" id="start">start</button>
<button type="submit" id="reverse">reverse</button>
</p>
<hr/>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

