<script type="text/javascript">
  var open = false;
  $(document).ready(function(){
    var socket = new MyWebScoket();
    socket.start();
  });
  $(function(){
    $("#start").click(function(){
      $.getJSON("<%= start_place_path %>", function(json){
        set_players_card(json, false);
      });
    });
    $("#open").click(function(){
      open = !open;
      $.getJSON("<%= open_place_path %>", function(json){
        set_players_card(json, open);
      });
    });
  });
</script>

<p id="notice"><%= notice %></p>
<p>
  <b><%= @place.title %></b>
</p>
<form>
<fieldset>
<legend id="game_no">1</legend>
    <dl>
      <dt>
        <span>Place Info:</span>
        <span id="place_info">Nomal</span>
      </dt>
    </dl>
    <dl>
  <div class='place'>
    <ul id='place_cards'>
    </ul>
  </div>
</dl>
<dl>
  <div class='players'>
    <ul id='players'>
      <% @place.players.each do |player| %>
        <li>
          <div class="player">
            <div class='player_name'>
              <span>
                <%= User.find(player.user_id).name %>
              </span>
            </div>
            <div class='player_place_cards'>
              <span>init</span>
            </div>
            <div class='player_cards'>
              <ul/>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</dl>
</fieldset>
</form>
<p>
<button type="submit" id="start">start</button>
<button type="submit" id="open">reverse</button>
</p>
<hr/>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

